body {
  background-image: url(https://images.search.yahoo.com/yhs/view;_ylt=AwrOp25wjKxkLxsGJzA2nIlQ;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzdhY2NjZjJlZDU2YjhkMjNjMzIwOGM5NzZmZTgzMTZhBGdwb3MDOQRpdANiaW5n?back=https%3A%2F%2Fimages.search.yahoo.com%2Fyhs%2Fsearch%3Fp%3Dcross%2Beyed%2Bimg%26ei%3DUTF-8%26type%3Dasbw_8063_CHW_US_tid20131%26fr%3Dyhs-iba-syn%26fr2%3Dp%253As%252Cv%253Ai%252Cm%253Asb-top%26hsimp%3Dyhs-syn%26hspart%3Diba%26param1%3DDa6doq0HF3pb6htlgICaI1zVmgiQiv092Ihp9hXylEeKyv1R2fzcarReI1pBjHYF%26param2%3D9dUI1n2R0BLDxNuWfiP4aWyjOZc2NBa%252Bx2opBYQCDMSB7nBAfwbAzkkglZNKi5o21u72Jm8TatlnU7NDGbP7F8Lft0aXvravgWuUt1wLTDRGoZDy1s38eFH2mqhQf7J35YCbQdFh0U0Q40PE25%252BEeG%252Bt%252By660cfFWnTypqgOdcC3nsQyaYmWsMv6E%252Ft%252Fti8YyHtQnHI52eUcR%252F0FijgVsfk2%252FHkFbwC6ehowk%252FPru0%252FPEzpLTnKYV1KyTlHHEFbWCQL54aWPoYDe6BBYlgaPUwYbhlDhmb8F23t1i6EpeS9yAh9WCxQX8b0X0JLw96g4EBpdjYASVuqVW73SRa2IIQ%253D%253D%26param3%3DNwVEMR%252FzKcG52XsVBYEh2zk2Yklq85vdfspZPoqz2M1qypHRDDTed5vIiOf0QJloJAws3N4BZ2OFCPQG%252BRw4WpTnzaTq2VmIHxERXcUW3rVQCtxOG%252BsIEOUp0%252Ff9ylXTGucyJu3wBF4BE4auNWzgxDSLAf3lJn493zUZRuiErsZYFZ98QxM6%252Bkk6zeUZC5R1EoyowISmWm7CxZFW%252B0QIGCm5X7AO3BRc7uqEyOBZM5QRhadPRhkqy7oFMgpH3DbLEhRsf%252FNl6ubXcaUAwsKqXb%252BZQyte%252FU74dUz40P4Ve1IkHflw02EB1BpFWQ0fOPXUeXKpI2wpunS8V6YUrQVfTOFUkNT8bTvumeAYlHXOAodJ1YknGvDmjL8D9Wd9Qi0vGpi10wIGmKHQEe0vyVQNq3auQZJyElTwytD4cNUO9BA%253D%26param4%3DeKIC0x8RpC7nezFdZVp55bi4dCZ6c1q8ECk7QHaA6wY%253D%26tab%3Dorganic%26ri%3D9&w=800&h=800&imgurl=thumbs.dreamstime.com%2Fb%2Fgiovane-cross-eyed-23649254.jpg&rurl=https%3A%2F%2Fit.dreamstime.com%2Fimmagine-stock-libera-da-diritti-un-giovane-ragazzo-strabico-image32632926&size=87.5KB&p=cross+eyed+img&oid=7acccf2ed56b8d23c3208c976fe8316a&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&fr=yhs-iba-syn&tt=Un+Giovane+Ragazzo+Strabico+Fotografia+Stock+-+Immagine+di+background%2C+eyed%3A+32632926&b=0&ni=54&no=9&ts=&tab=organic&sigr=xDAZr2C9nyA1&sigb=3h40Y6XXCZTW&sigi=lzy8jBY.FR_u&sigt=iA3hgkLB_Ect&.crumb=FcoQJq9oFYl&fr=yhs-iba-syn&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&hsimp=yhs-syn&hspart=iba&type=asbw_8063_CHW_US_tid20131&param1=Da6doq0HF3pb6htlgICaI1zVmgiQiv092Ihp9hXylEeKyv1R2fzcarReI1pBjHYF&param2=9dUI1n2R0BLDxNuWfiP4aWyjOZc2NBa%2Bx2opBYQCDMSB7nBAfwbAzkkglZNKi5o21u72Jm8TatlnU7NDGbP7F8Lft0aXvravgWuUt1wLTDRGoZDy1s38eFH2mqhQf7J35YCbQdFh0U0Q40PE25%2BEeG%2Bt%2By660cfFWnTypqgOdcC3nsQyaYmWsMv6E%2Ft%2Fti8YyHtQnHI52eUcR%2F0FijgVsfk2%2FHkFbwC6ehowk%2FPru0%2FPEzpLTnKYV1KyTlHHEFbWCQL54aWPoYDe6BBYlgaPUwYbhlDhmb8F23t1i6EpeS9yAh9WCxQX8b0X0JLw96g4EBpdjYASVuqVW73SRa2IIQ%3D%3D&param3=NwVEMR%2FzKcG52XsVBYEh2zk2Yklq85vdfspZPoqz2M1qypHRDDTed5vIiOf0QJloJAws3N4BZ2OFCPQG%2BRw4WpTnzaTq2VmIHxERXcUW3rVQCtxOG%2BsIEOUp0%2Ff9ylXTGucyJu3wBF4BE4auNWzgxDSLAf3lJn493zUZRuiErsZYFZ98QxM6%2Bkk6zeUZC5R1EoyowISmWm7CxZFW%2B0QIGCm5X7AO3BRc7uqEyOBZM5QRhadPRhkqy7oFMgpH3DbLEhRsf%2FNl6ubXcaUAwsKqXb%2BZQyte%2FU74dUz40P4Ve1IkHflw02EB1BpFWQ0fOPXUeXKpI2wpunS8V6YUrQVfTOFUkNT8bTvumeAYlHXOAodJ1YknGvDmjL8D9Wd9Qi0vGpi10wIGmKHQEe0vyVQNq3auQZJyElTwytD4cNUO9BA%3D&param4=eKIC0x8RpC7nezFdZVp55bi4dCZ6c1q8ECk7QHaA6wY%3D);
}
h1 {
  font-size: 25rem;
}

.counter {
  font-size: 15rem;
  align-self: center;
}
.increment {
  cursor: pointer;
  height: 15rem;
  width: 15rem;
  font-size: 10rem;
  align-self: center;
}
.increment:hover {
  background-color: green;
}

.decrement {
  cursor: pointer;
  height: 15rem;
  width: 15rem;
  font-size: 10rem;
  align-self: center;
}

.decrement:hover {
  background-color: red;
}
